# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [41]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [42]:
import pandas as pd

In [43]:
emisiones = pd.read_csv("../Emisiones_CO2.csv",sep="|",encoding="latin-1",decimal=",")

In [44]:
emisiones.dropna(inplace=True)

In [85]:
emisiones.head(5)

     Año emision_co2  emisiones_co2_percapita  Clave_Hash
26  1986     179,683                 2.868319         910
27  1987     447,374                 7.234964         910
28  1988     612,389                10.026508         910
29  1989     649,059                10.634733         910
30  1990    1.840,83                29.620165         910

In [46]:
emisiones["Clave_Hash"] = emisiones["Código de país"].apply(hash_function)

In [86]:
emisiones.head(5)

     Año emision_co2  emisiones_co2_percapita  Clave_Hash
26  1986     179,683                 2.868319         910
27  1987     447,374                 7.234964         910
28  1988     612,389                10.026508         910
29  1989     649,059                10.634733         910
30  1990    1.840,83                29.620165         910

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

Voy a cambiar los nombres a las columnas para que no tengan espacios entre medio, para evitar posibles errores y por convencion

In [61]:
emisiones.rename(columns = {'Código de país': 'cod_pais',
                     'Nombre del país': 'nom_pais',
                     'CO2 (kt)': 'emision_co2',
                     'CO2 per cápita (toneladas métricas)': 'emisiones_co2_percapita'}, inplace = True)

In [87]:
emisiones.head(5)

     Año emision_co2  emisiones_co2_percapita  Clave_Hash
26  1986     179,683                 2.868319         910
27  1987     447,374                 7.234964         910
28  1988     612,389                10.026508         910
29  1989     649,059                10.634733         910
30  1990    1.840,83                29.620165         910

Ahora eliminaré los valores duplicados de cada columna para quedarme solamente con los valores unicos. Esto me brindara una unica fila para cada pais

In [63]:
countries = emisiones[["Clave_Hash", "cod_pais" , "nom_pais" , "Región"]].drop_duplicates()

In [88]:
countries.head(5)

   Clave_Hash cod_pais    nom_pais                   Región
0         910      ABW       Aruba  América Latina y Caribe
1         870      AND     Andorra    Europa y Asia Central
2         858      AFG  Afganistán              Sur de Asia
3         893      AGO      Angola      África subsahariana
4         856      ALB     Albania    Europa y Asia Central

In [74]:
emisiones.drop(['cod_pais', 'nom_pais', 'Región'], inplace = True, axis = 1)

In [ ]:
countries.reset_index(inplace=True)

Elimine las columnas "index" y "level_0" porque eran irrelevantes y estorbaban al dataframe

In [80]:
countries.drop(["index","level_0"],inplace = True, axis = 1)

Finalmente, el nuevo dataframe "countries" queda con la data organizada y limpia

In [90]:
countries

,Clave_Hash,cod_pais,nom_pais,Región
0,910,ABW,Aruba,América Latina y Caribe
1,870,AND,Andorra,Europa y Asia Central
2,858,AFG,Afganistán,Sur de Asia
3,893,AGO,Angola,África subsahariana
4,856,ALB,Albania,Europa y Asia Central
...,...,...,...,...
194,927,YEM,Yemen,Oriente Medio y Norte de África
195,889,ZAF,Sudáfrica,África subsahariana
196,877,COD,Congo (República Democrática),África subsahariana
197,909,ZMB,Zambia,África subsahariana
198,951,ZWE,Zimbabue,África subsahariana