# Practice Class 4

## Pandas library

## Introduction

* Rows and columns are identified with labels, in addition to simple integer indices
* It is important to understand a little about the structures of Pandas
* Three important structures:
     + `Series`
     + `DataFrame`
     + `Index`

In [3]:
import numpy as np
import pandas as pd

## `Series` objects in Pandas

* Can be thought of as a one-dimensional indexed array.
* Can be created from a list:

In [4]:
data = pd.Series([0.25, 0.5, 0.75, 1.0, 1.3])

In [5]:
print(data)

0    0.25
1    0.50
2    0.75
3    1.00
4    1.30
dtype: float64

* A ``Series`` encapsulates both a sequence of values and a sequence of indices.
* We can access them with the `values` and `index` attributes

In [6]:
data.values

array([0.25, 0.5 , 0.75, 1.  , 1.3 ])

In [7]:
data.index

RangeIndex(start=0, stop=5, step=1)

* An `index` is an object similar to an array.

* We can access a `Series` through the associated index in a similar way to Numpy arrays: with the `[]`

In [8]:
data[1]

0.5

Starting from the second element:

In [9]:
data[2:]

2    0.75
3    1.00
4    1.30
dtype: float64

### ``Series`` as a generalization of a NumPy array

* The essential difference with a Numpy array is that while the array has an *"implicitly defined"* integer index, a Pandas `Series` has an index associated with the values *that is explicitly defined*<br>

* This explicit index gives a `Series` additional capabilities.
* The explicit index does not have to be an integer, nor do all of its values have to be unique.

* Can be `strings`

In [10]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [11]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

* And we can simply access:

In [12]:
data['b']

0.5

* Or it can be a non-contiguous sequence of `int`s

In [13]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 1])
data

2    0.25
5    0.50
3    0.75
1    1.00
dtype: float64

In [14]:
data[5]

0.5

### ``Series`` as a specialized `dict`

* A `dict` is a structure that maps a set of arbitrary keys to a set of values of a type.
* An analogy can then be made between a `Series` and a `dict`

In [15]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

population = pd.Series(population_dict)

In [16]:
print(population)

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [17]:
print(population.values,"\n")
print(population.index)

[38332521 26448193 19651127 19552860 12882135]

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

* A `String` can be created from a `dict`: the index is taken from the keys.
* Thus, it can be accessed analogously to a `dict`.

In [18]:
population['California']

38332521

* Unlike a `dict` a `Series` supports some array-style operations, such as slicing:

In [19]:
population['California':'New York']

California    38332521
Texas         26448193
New York      19651127
dtype: int64

* If we create a `Series` with a list of strings, the order of the columns is respected, while the keys of the `dicts` are ordered alphabetically when the `Series` is created.

In [20]:
states_list = ['Illinois','Texas','New York', 'Florida', 'California']
states_pop = [12882135, 26448193, 19651127, 19552860, 38332521]
states = pd.Series(states_pop, index= states_list)

In [21]:
states['Illinois':'New York']

Illinois    12882135
Texas       26448193
New York    19651127
dtype: int64

### Constructing Series objects

* We can build `Series` from scratch. The general way to do it is as follows:

```python
>>> pd.Series(data, index=index)
```
* `index` is an optional argument and `data` can be any number of things

In [22]:
# A list or an array of Numpy
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [23]:
# A scalar repeated over an index
pd.Series(5, index = [100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [24]:
# A dictionary
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [25]:
# In each case, the index could be used explicitly if another result is sought
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

## `DataFrame` object

* Other fundamental structure.
* It can also be thought of as a generalization of a NumPy array or as a special type of dictionary.

### `DataFrame` as a Numpy array

* A `DataFrame` is a type analogous to a `Series` in two dimensions and can therefore be thought of as either a generalization of a Numpy array or a set of aligned `Series`. That is, they have the same index.

* To demonstrate this let's generate a `Series` with the area of some states:

In [26]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': np.nan}
area = pd.Series(area_dict)

In [27]:
print(area)

California    423967.0
Texas         695662.0
New York      141297.0
Florida       170312.0
Illinois           NaN
dtype: float64

In [28]:
print(population)

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

* Now, we can use a dictionary to build a two-dimensional object containing all the information.

In [29]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population      area
California    38332521  423967.0
Texas         26448193  695662.0
New York      19651127  141297.0
Florida       19552860  170312.0
Illinois      12882135       NaN

Like ``Series``, a ``DataFrame`` has an ``index`` attribute:

In [30]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In addition, it has a ``columns`` attribute, which is an ``Index`` object containing the column labels:

In [31]:
states.columns

Index(['population', 'area'], dtype='object')

In [32]:
states['population']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

In [33]:
states

            population      area
California    38332521  423967.0
Texas         26448193  695662.0
New York      19651127  141297.0
Florida       19552860  170312.0
Illinois      12882135       NaN

In [34]:
states['density'] = states['population'] / states['area']
states

            population      area     density
California    38332521  423967.0   90.413926
Texas         26448193  695662.0   38.018740
New York      19651127  141297.0  139.076746
Florida       19552860  170312.0  114.806121
Illinois      12882135       NaN         NaN

### DataFrame as a specialized dictionary

* Similarly, we can think of the `DataFrame` as a dictionary:
    
     - A dictionary maps a key to a value
     - A `DataFrame` maps a column name to a `Series` of data.
    
    
* For example, asking for the `area` attribute of the `DataFrame` `states` returns a `Series`.

In [35]:
states['area']

California    423967.0
Texas         695662.0
New York      141297.0
Florida       170312.0
Illinois           NaN
Name: area, dtype: float64

### Constructing `DataFrame` objects

#### From a simple `Series`:

In [36]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

#### From a list of dicts

In [37]:
data = [{'a': i, 'b': 2 * i}
        for i in range(10)]
pd.DataFrame(data)

   a   b
0  0   0
1  1   2
2  2   4
3  3   6
4  4   8
5  5  10
6  6  12
7  7  14
8  8  16
9  9  18

* Note that even if some key is missing in the dictionary, Pandas fills the value with `NaN`:

In [38]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

#### From a `Series` dict

In [39]:
pd.DataFrame({'population': population,
              'area': area})

            population      area
California    38332521  423967.0
Texas         26448193  695662.0
New York      19651127  141297.0
Florida       19552860  170312.0
Illinois      12882135       NaN

#### From a two-dimensional Numpy array

In [40]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.483347  0.464373
b  0.502480  0.081394
c  0.028557  0.443378

## The `Index` object

* An `Index` can be thought of as an _immutable array_ or as an ordered set
* To illustrate the implications of this point, consider the following example in which we construct an `Index` from a list of integers.
* The `DataFrames` have an `Index` that describes the rows and another that describes the columns.
* The row `Index` is accessed with `df.index` and the column `df.columns`.

In [41]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

### `Index` as an immutable array

* We can index and slice in a similar way to an array

In [42]:
ind[1]

3

In [43]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

`Index` have similar attributes to Numpy arrays

In [44]:
print("ind.size, ind.shape, ind.ndim, ind.dtype")
print(ind.size, ind.shape, ind.ndim, ind.dtype)

ind.size, ind.shape, ind.ndim, ind.dtype
5 (5,) 1 int64

One difference between ``Index`` and NumPy arrays is that the former are *immutable*:

In [45]:
ind[1] = 0

TypeError: Index does not support mutable operations

### `Index` as a sorted array

* You can use set operations with ``Index`` following Python conventions

In [ ]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [ ]:
indA & indB  # intersection

Int64Index([3, 5, 7], dtype='int64')

In [ ]:
indA | indB  # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [ ]:
indA ^ indB  # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

### Series and DataFrames

In [ ]:
import pandas as pd

In [ ]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [ ]:
animals = ['Tortoise', 'Fox', 'Dove', 'Elephant']
typex = ['reptile', 'mammal', 'bird', 'mammal']
obj = pd.Series(typex, index=animals)
obj

NameError: name 'pd' is not defined

DataFrames

In [ ]:
d = {'housing_type': ['house', 'apartment'], 'm2': [35, 49]}
df = pd.DataFrame(data=d)
df

NameError: name 'pd' is not defined

### Charging data

In [ ]:
df = pd.read_csv('fifa-statistics.csv')
df

,Date,Team,Opponent,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,...,Yellow Card,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,Own goal Time
0,14-06-2018,Russia,Saudi Arabia,5,40,13,7,3,3,6,...,0,0,0,Yes,12.0,Group Stage,No,0,NaN,NaN
1,14-06-2018,Saudi Arabia,Russia,0,60,6,0,3,3,2,...,0,0,0,No,NaN,Group Stage,No,0,NaN,NaN
2,15-06-2018,Egypt,Uruguay,0,43,8,3,3,2,0,...,2,0,0,No,NaN,Group Stage,No,0,NaN,NaN
3,15-06-2018,Uruguay,Egypt,1,57,14,4,6,4,5,...,0,0,0,Yes,89.0,Group Stage,No,0,NaN,NaN
4,15-06-2018,Morocco,Iran,0,64,13,3,6,4,5,...,1,0,0,No,NaN,Group Stage,No,0,1.0,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,11-07-2018,England,Croatia,1,46,11,1,6,4,4,...,1,0,0,No,5.0,Semi- Finals,No,0,NaN,NaN
124,14-07-2018,Belgium,England,2,43,12,4,3,5,4,...,1,0,0,Yes,4.0,3rd Place,No,0,NaN,NaN
125,14-07-2018,England,Belgium,0,57,15,5,7,3,5,...,2,0,0,No,NaN,3rd Place,No,0,NaN,NaN
126,15-07-2018,France,Croatia,4,39,8,6,1,1,2,...,2,0,0,Yes,18.0,Final,No,0,1.0,18.0
127,15-07-2018,Croatia,France,2,61,15,3,8,4,6,...,1,0,0,No,28.0,Final,No,0,NaN,NaN

## Selection and Indexing

### loc and iloc

In [ ]:
df.loc[0, 'Team']

'Russia'

In [ ]:
df.iloc[0, [1]]

Team    Russia
Name: 0, dtype: object

In [ ]:
df.iloc[2]

Date                       15-06-2018
Team                            Egypt
Opponent                      Uruguay
Goal Scored                         0
Ball Possession %                  43
Attempts                            8
On-Target                           3
Off-Target                          3
Blocked                             2
Corners                             0
Offsides                            1
Free Kicks                          7
Saves                               3
Pass Accuracy %                    78
Passes                            395
Distance Covered (Kms)            112
Fouls Committed                    12
Yellow Card                         2
Yellow & Red                        0
Red                                 0
Man of the Match                   No
1st Goal                          NaN
Round                     Group Stage
PSO                                No
Goals in PSO                        0
Own goals                         NaN
Own goal Time                     NaN
Name: 2, dtype: object

## Descriptive analysis in Pandas

### describe, info and shape

In [ ]:
df.describe()

,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,Offsides,Free Kicks,Saves,...,Passes,Distance Covered (Kms),Fouls Committed,Yellow Card,Yellow & Red,Red,1st Goal,Goals in PSO,Own goals,Own goal Time
count,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,...,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,94.000000,128.000000,12.0,12.000000
mean,1.320312,49.992188,12.593750,3.914062,5.273438,3.359375,4.718750,1.343750,14.890625,2.726562,...,462.648438,106.664062,13.546875,1.695312,0.015625,0.015625,39.457447,0.203125,1.0,45.833333
std,1.156519,10.444074,5.245827,2.234403,2.409675,2.403195,2.446072,1.193404,4.724262,2.049447,...,151.186311,11.749537,4.619131,1.325454,0.124507,0.124507,24.496506,0.807049,0.0,29.978275
min,0.000000,25.000000,3.000000,0.000000,1.000000,0.000000,0.000000,0.000000,5.000000,0.000000,...,189.000000,80.000000,5.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.0,12.000000
25%,0.000000,42.000000,9.000000,2.000000,4.000000,1.750000,3.000000,0.000000,11.000000,1.000000,...,351.000000,101.000000,10.000000,1.000000,0.000000,0.000000,18.250000,0.000000,1.0,21.750000
50%,1.000000,50.000000,12.000000,3.500000,5.000000,3.000000,5.000000,1.000000,15.000000,2.000000,...,462.000000,104.500000,13.000000,2.000000,0.000000,0.000000,39.000000,0.000000,1.0,35.000000
75%,2.000000,58.000000,15.000000,5.000000,7.000000,4.000000,6.000000,2.000000,18.000000,4.000000,...,555.250000,109.000000,16.000000,2.000000,0.000000,0.000000,54.750000,0.000000,1.0,75.750000
max,6.000000,75.000000,26.000000,12.000000,11.000000,10.000000,11.000000,5.000000,26.000000,9.000000,...,1137.000000,148.000000,25.000000,6.000000,1.000000,1.000000,90.000000,4.000000,1.0,90.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 27 columns):
Date                      128 non-null object
Team                      128 non-null object
Opponent                  128 non-null object
Goal Scored               128 non-null int64
Ball Possession %         128 non-null int64
Attempts                  128 non-null int64
On-Target                 128 non-null int64
Off-Target                128 non-null int64
Blocked                   128 non-null int64
Corners                   128 non-null int64
Offsides                  128 non-null int64
Free Kicks                128 non-null int64
Saves                     128 non-null int64
Pass Accuracy %           128 non-null int64
Passes                    128 non-null int64
Distance Covered (Kms)    128 non-null int64
Fouls Committed           128 non-null int64
Yellow Card               128 non-null int64
Yellow & Red              128 non-null int64
Red                       128 non-null int64
Man of the Match          128 non-null object
1st Goal                  94 non-null float64
Round                     128 non-null object
PSO                       128 non-null object
Goals in PSO              128 non-null int64
Own goals                 12 non-null float64
Own goal Time             12 non-null float64
dtypes: float64(3), int64(18), object(6)
memory usage: 27.1+ KB

In [ ]:
df.shape

(128, 27)

In [ ]:
df.columns

Index(['Date', 'Team', 'Opponent', 'Goal Scored', 'Ball Possession %',
       'Attempts', 'On-Target', 'Off-Target', 'Blocked', 'Corners', 'Offsides',
       'Free Kicks', 'Saves', 'Pass Accuracy %', 'Passes',
       'Distance Covered (Kms)', 'Fouls Committed', 'Yellow Card',
       'Yellow & Red', 'Red', 'Man of the Match', '1st Goal', 'Round', 'PSO',
       'Goals in PSO', 'Own goals', 'Own goal Time'],
      dtype='object')

In [ ]:
df.head(3)

,Date,Team,Opponent,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,...,Yellow Card,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,Own goal Time
0,14-06-2018,Russia,Saudi Arabia,5,40,13,7,3,3,6,...,0,0,0,Yes,12.0,Group Stage,No,0,NaN,NaN
1,14-06-2018,Saudi Arabia,Russia,0,60,6,0,3,3,2,...,0,0,0,No,NaN,Group Stage,No,0,NaN,NaN
2,15-06-2018,Egypt,Uruguay,0,43,8,3,3,2,0,...,2,0,0,No,NaN,Group Stage,No,0,NaN,NaN

In [ ]:
df.tail(4)

,Date,Team,Opponent,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,...,Yellow Card,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,Own goal Time
124,14-07-2018,Belgium,England,2,43,12,4,3,5,4,...,1,0,0,Yes,4.0,3rd Place,No,0,NaN,NaN
125,14-07-2018,England,Belgium,0,57,15,5,7,3,5,...,2,0,0,No,NaN,3rd Place,No,0,NaN,NaN
126,15-07-2018,France,Croatia,4,39,8,6,1,1,2,...,2,0,0,Yes,18.0,Final,No,0,1.0,18.0
127,15-07-2018,Croatia,France,2,61,15,3,8,4,6,...,1,0,0,No,28.0,Final,No,0,NaN,NaN

### unique and value_counts()

In [ ]:
df['Team'].unique()

array(['Russia', 'Saudi Arabia', 'Egypt', 'Uruguay', 'Morocco', 'Iran',
       'Portugal', 'Spain', 'France', 'Australia', 'Argentina', 'Iceland',
       'Peru', 'Denmark', 'Croatia', 'Nigeria', 'Costa Rica', 'Serbia',
       'Germany', 'Mexico', 'Brazil', 'Switzerland', 'Sweden',
       'Korea Republic', 'Belgium', 'Panama', 'Tunisia', 'England',
       'Colombia', 'Japan', 'Poland', 'Senegal'], dtype=object)

In [ ]:
df.Team.value_counts()

Belgium           7
Croatia           7
France            7
England           7
Russia            5
Uruguay           5
Brazil            5
Sweden            5
Spain             4
Argentina         4
Japan             4
Mexico            4
Portugal          4
Colombia          4
Denmark           4
Switzerland       4
Costa Rica        3
Morocco           3
Serbia            3
Panama            3
Iceland           3
Senegal           3
Korea Republic    3
Nigeria           3
Iran              3
Germany           3
Poland            3
Peru              3
Australia         3
Tunisia           3
Saudi Arabia      3
Egypt             3
Name: Team, dtype: int64

### count, min, max, mean, median, std and corr

In [ ]:
df.corr()

,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,Offsides,Free Kicks,Saves,...,Passes,Distance Covered (Kms),Fouls Committed,Yellow Card,Yellow & Red,Red,1st Goal,Goals in PSO,Own goals,Own goal Time
Goal Scored,1.000000,0.034759,0.144915,0.461702,-0.020374,-0.087072,0.040446,0.045105,0.046815,-0.118893,...,0.043971,0.014355,0.030331,-0.048838,-0.035031,-0.089714,-0.272170,-0.011204,NaN,-0.228729
Ball Possession %,0.034759,1.000000,0.541185,0.297234,0.361767,0.521510,0.542992,0.057706,0.273831,-0.293658,...,0.880611,-0.059054,-0.296477,-0.205511,0.090924,0.024316,-0.048316,-0.010086,NaN,0.588196
Attempts,0.144915,0.541185,1.000000,0.731243,0.718972,0.754307,0.686892,-0.016508,0.140850,-0.268217,...,0.582831,0.171381,-0.248773,-0.185544,-0.074594,0.009795,0.072737,0.149836,NaN,-0.012727
On-Target,0.461702,0.297234,0.731243,1.000000,0.324672,0.331333,0.407576,0.073176,0.093090,-0.321557,...,0.348099,0.065475,-0.192242,-0.115259,-0.051742,-0.023439,-0.071730,0.040322,NaN,-0.328175
Off-Target,-0.020374,0.361767,0.718972,0.324672,1.000000,0.299712,0.440633,-0.095919,0.142367,-0.126644,...,0.398949,0.229930,-0.186858,-0.124094,-0.145577,-0.119332,0.109203,0.185807,NaN,0.300204
Blocked,-0.087072,0.521510,0.754307,0.331333,0.299712,1.000000,0.636172,-0.002231,0.086021,-0.142960,...,0.532913,0.082111,-0.174606,-0.163111,0.033717,0.165295,0.091321,0.108220,NaN,0.014851
Corners,0.040446,0.542992,0.686892,0.407576,0.440633,0.636172,1.000000,-0.034054,0.085216,-0.233787,...,0.524661,0.099700,-0.165382,-0.169929,0.014543,0.117960,0.163760,0.088997,NaN,0.023942
Offsides,0.045105,0.057706,-0.016508,0.073176,-0.095919,-0.002231,-0.034054,1.000000,0.089121,0.006539,...,0.034715,0.031324,-0.040084,-0.047757,0.228531,-0.036432,-0.112602,-0.064892,NaN,-0.312680
Free Kicks,0.046815,0.273831,0.140850,0.093090,0.142367,0.086021,0.085216,0.089121,1.000000,-0.231637,...,0.175695,0.076927,0.080341,-0.026741,0.029701,-0.104164,-0.007801,0.138046,NaN,-0.057103
Saves,-0.118893,-0.293658,-0.268217,-0.321557,-0.126644,-0.142960,-0.233787,0.006539,-0.231637,1.000000,...,-0.264425,0.125645,0.074976,0.009670,0.140307,0.016875,-0.127567,0.110014,NaN,-0.063865
Pass Accuracy %,0.135688,0.713872,0.397614,0.291659,0.189760,0.401699,0.330363,0.127421,0.131951,-0.190740,...,0.693113,-0.210874,-0.327737,-0.113498,0.094756,0.009492,-0.084045,-0.143743,NaN,0.390021
Passes,0.043971,0.880611,0.582831,0.348099,0.398949,0.532913,0.524661,0.034715,0.175695,-0.264425,...,1.000000,0.184601,-0.352782,-0.223882,0.053837,0.010752,-0.093453,0.226844,NaN,0.296754
Distance Covered (Kms),0.014355,-0.059054,0.171381,0.065475,0.229930,0.082111,0.099700,0.031324,0.076927,0.125645,...,0.184601,1.000000,0.149800,0.001971,-0.023296,-0.093268,-0.079939,0.720547,NaN,-0.313181
Fouls Committed,0.030331,-0.296477,-0.248773,-0.192242,-0.186858,-0.174606,-0.165382,-0.040084,0.080341,0.074976,...,-0.352782,0.149800,1.000000,0.433834,0.039790,0.012408,0.131749,0.126270,NaN,0.002941
Yellow Card,-0.048838,-0.205511,-0.185544,-0.115259,-0.124094,-0.163111,-0.169929,-0.047757,-0.026741,0.009670,...,-0.223882,0.001971,0.433834,1.000000,-0.114064,0.029075,0.268910,0.102478,NaN,0.319416
Yellow & Red,-0.035031,0.090924,-0.074594,-0.051742,-0.145577,0.033717,0.014543,0.228531,0.029701,0.140307,...,0.053837,-0.023296,0.039790,-0.114064,1.000000,-0.015873,0.036355,-0.031834,NaN,-0.239862
Red,-0.089714,0.024316,0.009795,-0.023439,-0.119332,0.165295,0.117960,-0.036432,-0.104164,0.016875,...,0.010752,-0.093268,0.012408,0.029075,-0.015873,1.000000,-0.001947,-0.031834,NaN,NaN
1st Goal,-0.272170,-0.048316,0.072737,-0.071730,0.109203,0.091321,0.163760,-0.112602,-0.007801,-0.127567,...,-0.093453,-0.079939,0.131749,0.268910,0.036355,-0.001947,1.000000,-0.030558,NaN,0.332835
Goals in PSO,-0.011204,-0.010086,0.149836,0.040322,0.185807,0.108220,0.088997,-0.064892,0.138046,0.110014,...,0.226844,0.720547,0.126270,0.102478,-0.031834,-0.031834,-0.030558,1.000000,NaN,-0.355415
Own goals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Own goal Time,-0.228729,0.588196,-0.012727,-0.328175,0.300204,0.014851,0.023942,-0.312680,-0.057103,-0.063865,...,0.296754,-0.313181,0.002941,0.319416,-0.239862,NaN,0.332835,-0.355415,NaN,1.000000

## Percentiles

They are a measure used in statistics that indicates the value of the variable below which a given percentage of observations is found. Now the Quantiles are points taken at regular intervals from the distribution function of a random variable. The quantiles can be used by groups that divide the distribution in equal parts; obtaining their children, the Percentiles, Deciles and Quartiles.

In [ ]:
df['Distance Covered (Kms)'].quantile(0.5) # 10th percentile

104.5

In [ ]:
df['Distance Covered (Kms)'].median()

104.5

### Ordering data

In [ ]:
df.sort_index()

,Date,Team,Opponent,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,...,Yellow Card,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,Own goal Time
0,14-06-2018,Russia,Saudi Arabia,5,40,13,7,3,3,6,...,0,0,0,Yes,12.0,Group Stage,No,0,NaN,NaN
1,14-06-2018,Saudi Arabia,Russia,0,60,6,0,3,3,2,...,0,0,0,No,NaN,Group Stage,No,0,NaN,NaN
2,15-06-2018,Egypt,Uruguay,0,43,8,3,3,2,0,...,2,0,0,No,NaN,Group Stage,No,0,NaN,NaN
3,15-06-2018,Uruguay,Egypt,1,57,14,4,6,4,5,...,0,0,0,Yes,89.0,Group Stage,No,0,NaN,NaN
4,15-06-2018,Morocco,Iran,0,64,13,3,6,4,5,...,1,0,0,No,NaN,Group Stage,No,0,1.0,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,11-07-2018,England,Croatia,1,46,11,1,6,4,4,...,1,0,0,No,5.0,Semi- Finals,No,0,NaN,NaN
124,14-07-2018,Belgium,England,2,43,12,4,3,5,4,...,1,0,0,Yes,4.0,3rd Place,No,0,NaN,NaN
125,14-07-2018,England,Belgium,0,57,15,5,7,3,5,...,2,0,0,No,NaN,3rd Place,No,0,NaN,NaN
126,15-07-2018,France,Croatia,4,39,8,6,1,1,2,...,2,0,0,Yes,18.0,Final,No,0,1.0,18.0
127,15-07-2018,Croatia,France,2,61,15,3,8,4,6,...,1,0,0,No,28.0,Final,No,0,NaN,NaN

In [ ]:
df.sort_values(["Goal Scored"], ascending=False).head()

,Date,Team,Opponent,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,...,Yellow Card,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,Own goal Time
58,24-06-2018,England,Panama,6,58,12,7,3,2,3,...,1,0,0,Yes,8.0,Group Stage,No,0,NaN,NaN
0,14-06-2018,Russia,Saudi Arabia,5,40,13,7,3,3,6,...,0,0,0,Yes,12.0,Group Stage,No,0,NaN,NaN
52,23-06-2018,Belgium,Tunisia,5,52,23,12,8,3,5,...,0,0,0,Yes,6.0,Group Stage,No,0,NaN,NaN
126,15-07-2018,France,Croatia,4,39,8,6,1,1,2,...,2,0,0,Yes,18.0,Final,No,0,1.0,18.0
96,30-06-2018,France,Argentina,4,41,9,4,4,1,0,...,3,0,0,Yes,13.0,Round of 16,No,0,NaN,NaN

### Dynamic Tables

In [ ]:
import numpy as np

In [ ]:
df.pivot_table(index='Team', columns='Round', values='Goal Scored', aggfunc=np.sum)

Round,3rd Place,Final,Group Stage,Quarter Finals,Round of 16,Semi- Finals
Team,,,,,,
Argentina,NaN,NaN,3.0,NaN,3.0,NaN
Australia,NaN,NaN,2.0,NaN,NaN,NaN
Belgium,2.0,NaN,9.0,2.0,3.0,0.0
Brazil,NaN,NaN,5.0,1.0,2.0,NaN
Colombia,NaN,NaN,5.0,NaN,1.0,NaN
Costa Rica,NaN,NaN,2.0,NaN,NaN,NaN
Croatia,NaN,2.0,7.0,2.0,1.0,2.0
Denmark,NaN,NaN,2.0,NaN,1.0,NaN
Egypt,NaN,NaN,2.0,NaN,NaN,NaN
England,0.0,NaN,8.0,2.0,1.0,1.0
France,NaN,4.0,3.0,2.0,4.0,1.0
Germany,NaN,NaN,2.0,NaN,NaN,NaN
Iceland,NaN,NaN,2.0,NaN,NaN,NaN
Iran,NaN,NaN,2.0,NaN,NaN,NaN
Japan,NaN,NaN,4.0,NaN,2.0,NaN
Korea Republic,NaN,NaN,3.0,NaN,NaN,NaN
Mexico,NaN,NaN,3.0,NaN,0.0,NaN
Morocco,NaN,NaN,2.0,NaN,NaN,NaN
Nigeria,NaN,NaN,3.0,NaN,NaN,NaN
Panama,NaN,NaN,2.0,NaN,NaN,NaN
Peru,NaN,NaN,2.0,NaN,NaN,NaN
Poland,NaN,NaN,2.0,NaN,NaN,NaN
Portugal,NaN,NaN,5.0,NaN,1.0,NaN
Russia,NaN,NaN,8.0,2.0,1.0,NaN
Saudi Arabia,NaN,NaN,2.0,NaN,NaN,NaN
Senegal,NaN,NaN,4.0,NaN,NaN,NaN
Serbia,NaN,NaN,2.0,NaN,NaN,NaN
Spain,NaN,NaN,6.0,NaN,1.0,NaN
Sweden,NaN,NaN,5.0,0.0,1.0,NaN
Switzerland,NaN,NaN,5.0,NaN,0.0,NaN
Tunisia,NaN,NaN,5.0,NaN,NaN,NaN
Uruguay,NaN,NaN,5.0,0.0,2.0,NaN

## Combining datasets

### concat and append

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])
   

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])


df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11']},
                    index=[8, 9, 10, 11])

frames = [df1, df2, df3]

In [ ]:
df3

      A    B    C
8    A8   B8   C8
9    A9   B9   C9
10  A10  B10  C10
11  A11  B11  C11

In [ ]:
pd.concat(frames)

C:\Users\dario.lopez\Documents\Miniconda\envs\datascience\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8  NaN
9    A9   B9   C9  NaN
10  A10  B10  C10  NaN
11  A11  B11  C11  NaN

In [ ]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                     index=[2, 3, 6, 7])
df4

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

In [ ]:
frames = [df1, df2, df3, df4]
pd.concat(frames)

C:\Users\dario.lopez\Documents\Miniconda\envs\datascience\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

      A    B    C    D    F
0    A0   B0   C0   D0  NaN
1    A1   B1   C1   D1  NaN
2    A2   B2   C2   D2  NaN
3    A3   B3   C3   D3  NaN
4    A4   B4   C4   D4  NaN
5    A5   B5   C5   D5  NaN
6    A6   B6   C6   D6  NaN
7    A7   B7   C7   D7  NaN
8    A8   B8   C8  NaN  NaN
9    A9   B9   C9  NaN  NaN
10  A10  B10  C10  NaN  NaN
11  A11  B11  C11  NaN  NaN
2   NaN   B2  NaN   D2   F2
3   NaN   B3  NaN   D3   F3
6   NaN   B6  NaN   D6   F6
7   NaN   B7  NaN   D7   F7

In [ ]:
pd.concat([df1, df4], axis=1) # Concatenacin horizontal

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [ ]:
pd.concat([df1, df4], axis=1, join='inner') # Cambiando la forma de concatenar con join

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

In [ ]:
df1.append(df2) # Append es otra forma de fcilmente concatenerar

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

### Merge

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                    'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})


right = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                    'C': ['C0', 'C1', 'C2'],
                    'D': ['D0', 'D1', 'D2']})


pd.merge(left, right, on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2

In [ ]:
import numpy as np

## Apply and Map

### apply

In [47]:
usuarios_df = pd.DataFrame({'edad': [np.nan, 20, 41, 20],
                            'clics_por_hora': [156, np.nan, 210, 210]})
usuarios_df

   edad  clics_por_hora
0   NaN           156.0
1  20.0             NaN
2  41.0           210.0
3  20.0           210.0

In [ ]:
import numpy as np
usuarios2 = usuarios_df.apply(np.mean) # Any function that takes one row or column per input can be applied.

In [ ]:
usuarios2

edad               27.0
clics_por_hora    192.0
dtype: float64

In [ ]:
usuarios_df

   edad  clics_por_hora
0   NaN           156.0
1  20.0             NaN
2  41.0           210.0
3  20.0           210.0

### applymap

In [ ]:
usuarios_df.applymap(lambda x: x/2) # Se aplica elemento a elemento. En las series podemos usar directamente serie.map

   edad  clics_por_hora
0   NaN            78.0
1  10.0             NaN
2  20.5           105.0
3  10.0           105.0

## Missing values

### Filtering missing values

In [ ]:
usuarios_df

   edad  clics_por_hora
0   NaN           156.0
1  20.0             NaN
2  41.0           210.0
3  20.0           210.0

In [ ]:
usuarios_df.isna()

    edad  clics_por_hora
0   True           False
1  False            True
2  False           False
3  False           False

In [ ]:
u2 = usuarios_df.dropna()  # Puede borrarse toda fila que contenga un NaN o solamente en las columnas que especificamos

In [ ]:
u2

   edad  clics_por_hora
2  41.0           210.0
3  20.0           210.0

In [ ]:
usuarios_df

   edad  clics_por_hora
0   NaN           156.0
1  20.0             NaN
2  41.0           210.0
3  20.0           210.0

In [ ]:
usuarios_df.dropna(subset=['edad'])

   edad  clics_por_hora
1  20.0             NaN
2  41.0           210.0
3  20.0           210.0

In [ ]:
copia_df = usuarios_df

In [ ]:
usuarios_df

   edad  clics_por_hora
0   NaN           156.0
1  20.0             NaN
2  41.0           210.0
3  20.0           210.0

### Filling values

In [ ]:
usuarios_df = pd.DataFrame({'edad': [np.nan, 20, 41, 20, 22, 25],
                            'clics_por_hora': [156, np.nan, 210, 210, 100, np.nan],
                            'genero': ['m','f','f','f','m','f']})
usuarios_df

   edad  clics_por_hora genero
0   NaN           156.0      m
1  20.0             NaN      f
2  41.0           210.0      f
3  20.0           210.0      f
4  22.0           100.0      m
5  25.0             NaN      f

In [ ]:
usuarios_df_m = usuarios_df[usuarios_df['genero'] == 'm']

In [ ]:
usuarios_df_f = usuarios_df[usuarios_df['genero'] == 'f']

In [ ]:
usuarios_df_f['edad'].fillna(usuarios_df_f.edad.mean())

1    20.0
2    41.0
3    20.0
5    25.0
Name: edad, dtype: float64

In [ ]:
usuarios_df_m['edad'].fillna(usuarios_df_m.edad.mean())

0    22.0
4    22.0
Name: edad, dtype: float64

In [ ]:
copia_df['edad'].fillna(usuarios_df.edad.mean())

0    25.6
1    20.0
2    41.0
3    20.0
Name: edad, dtype: float64

In [ ]:
copia_df['edad'].fillna(usuarios_df.edad.mean())

0    27.0
1    20.0
2    41.0
3    20.0
Name: edad, dtype: float64

In [ ]:
copia_df.fillna(0)

   edad  clics_por_hora
0   0.0           156.0
1  20.0             0.0
2  41.0           210.0
3  20.0           210.0

In [ ]:
copia_df

   edad  clics_por_hora
0   NaN           156.0
1  20.0             NaN
2  41.0           210.0
3  20.0           210.0

In [ ]:
copia_df1 = copia_df.fillna(usuarios_df.edad.mean()) # Podemos elegir con qu completar los valores faltantes., inplace=True

In [ ]:
copia_df1

   edad  clics_por_hora
0  25.6           156.0
1  20.0            25.6
2  41.0           210.0
3  20.0           210.0

In [ ]:
copia_df.fillna(usuarios_df.edad.mean(), inplace=True) # Podemos elegir con qu completar los valores faltantes.

In [ ]:
copia_df

   edad  clics_por_hora
0  25.6           156.0
1  20.0            25.6
2  41.0           210.0
3  20.0           210.0

### Deleting duplicates

In [ ]:
usuarios_df = pd.DataFrame({'edad': [np.nan, 20, 41, 20, 20, 41],
                            'clics_por_hora': [156, np.nan, 210, 210, 100, np.nan],
                            'genero': ['m','f','f','f','m','f']})
usuarios_df

   edad  clics_por_hora genero
0   NaN           156.0      m
1  20.0             NaN      f
2  41.0           210.0      f
3  20.0           210.0      f
4  20.0           100.0      m
5  41.0             NaN      f

In [ ]:
usuarios_df.drop_duplicates(subset=['clics_por_hora'], keep='last', inplace=True) # Se puede jugar con el first, last, etc. Y tambin elegir en qu columnas

In [ ]:
usuarios_df

   edad  clics_por_hora genero
0   NaN           156.0      m
3  20.0           210.0      f
4  20.0           100.0      m
5  41.0             NaN      f

In [ ]:
usuarios_df.drop_duplicates(subset=['genero']) # Se puede jugar con el first, last, etc. Y tambin elegir en qu columnas

   edad  clics_por_hora genero
0   NaN           156.0      m
1  20.0             NaN      f

In [ ]:
import pandas as pd
ejemplo = pd.DataFrame({'campo1': [None, 20, 41, 20], 'campo2': [156, None, 210, 210]})
ejemplo

   campo1  campo2
0     NaN   156.0
1    20.0     NaN
2    41.0   210.0
3    20.0   210.0

In [ ]:
ejemplo.fillna(ejemplo.campo2.mean(), inplace=True)
ejemplo.fillna(ejemplo.campo1.mode()) #, inplace=True)
ejemplo

   campo1  campo2
0   192.0   156.0
1    20.0   192.0
2    41.0   210.0
3    20.0   210.0